/* FlexSlider */

/* Browser Resets */
.flex-container a, .flexslider a, .flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles */
.flexslider {
	margin: 0;
	padding: 0;
	width:100%;
    max-width:1024px;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width:100%;
    height:auto;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme */
.flexslider {
	zoom: 1;
	position: relative;
}
.flexslider li {
	margin:0px;
	padding:0px;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides > li {
	position: relative;
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
	zoom: 1;
	position: relative;
}
/* Direction Nav */
.flex-direction-nav {
	height: 0;
}
.flex-direction-nav a {
	height:60px;
	width:60px;
	margin: 0;
	display: block;
	position: absolute;
	bottom: 0px;
	cursor: pointer;
	text-indent: -999em;
	z-index:100;
    -webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
}
.flex-direction-nav .flex-next {
	background-position:center center;
	background-image:url('../images/s-right.png');
	background-repeat:no-repeat;
	left: 60px;
}
.flex-direction-nav .flex-prev {
    background-position:center center;
	background-image:url('../images/s-left.png');
	background-repeat:no-repeat;
	left: 0px;
}
.flex-direction-nav .flex-disabled {
	opacity: .3;
	filter:alpha(opacity=30);
	cursor: default;
}
.flex-title {
    position:absolute;
	bottom:0px;
    z-index:99;
    padding: 30px;
    margin:0px;
    opacity:0.9;
	right:0px;
    width: 40%;
}
