#youtube-wrapper{
	margin: 0px;
	width: 100%;
    max-width: 1024px;
	height: 400px;
}
#youtube-wrapper a{
    text-decoration:none !important;
}
.ytv-canvas{
	display: block;
	overflow: hidden;
}
.ytv-canvas ::-webkit-scrollbar{
	width: 3px;
    background: rgba(255,255,255,0.1);
}
.ytv-video{
	position: absolute;
	top: 0;
    right: 30%;
    bottom: 0;
    left: 0;
    height: 100%;
}
.ytv-video iframe{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    display: block;
}
.ytv-list{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 30%;
}
.ytv-list-inner{
    overflow: auto;
	position: absolute;
	top: 52px;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-overflow-scrolling: touch;
}
.ytv-list ul{
    margin: 0;
	padding: 0;
	list-style-type: none;
}
.ytv-list a{
	display: block;
	text-decoration: none;
	font-size: 11px;
	padding: 10px;
	padding-left: 8px;
	border-left: none;
    -webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
}
.ytv-list a b{
    max-height: 45px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}
.ytv-list .ytv-content{ 
    padding-left: 125px; 
}
.ytv-list .ytv-thumb-stroke{
    position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	right: 1px;
	z-index: 2;
}
.ytv-list .ytv-thumb{
	float: left;
	position: relative;
}
.ytv-list .ytv-thumb img{
	width: 115px;
	display: block;
}
.ytv-list .ytv-thumb span{
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 11px;
	padding: 0px 4px 1px 4px;
}
.ytv-views{
	display: block;
	margin-top: 5px;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.3;
}
.ytv-list-header{
	height: 52px;
    background-image: url('../images/plus.png');
    background-position: 95% center;
    background-repeat: no-repeat;
}
.ytv-list-header a{
    position: relative;
    z-index: 10;
    padding-right: 30px;
}
.ytv-list-header img,.ytv-list .ytv-playlists .ytv-thumb img{
	width: 30px;
	vertical-align: middle;
}
.ytv-list-header span{		
	padding-left: 10px;
	font-size: 16px;
    text-transform: none !important;
}
.ytv-playlists{
    z-index: 9;
    position: absolute;
    background: #000;
    top:52px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: none;
}
.ytv-playlists img,.ytv-list-header img{
	float: left;
}
.ytv-playlists a span,.ytv-list-header a span{	
	white-space: nowrap;
	padding-left: 10px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ytv-list-header > a span{
	line-height: 30px;
}
.ytv-list-header .ytv-playlists a{
	background: none;
}
.ytv-playlist-open .ytv-playlists{
	display: block;
}
.ytv-relative{
	position: relative;
	width: 100%;
	height: 100%;
	}
.ytv-full{
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	}
.ytv-list-header a:after,
.ytv-clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}