{% extends 'base.html' %} {% block content %}
<!-- PAGE TITLE -->
<div class="page-title">Fixture and Results</div>
<!-- FEATURED IMAGE -->
<div class="page-img">
    <img src="/images/photos/featured.jpg" alt="" />
</div>
<!-- PAGE CONTAINER -->
<section class="pagecontainer">
    <table>
        <thead>
            <tr>
                <th>Place</th>
                <th>Team</th>
                <th>Games Played (GP)</th>
                <th>Wins</th>
                <th>Draws</th>
                <th>Loss</th>
                <th>Goals F</th>
                <th>Goals A</th>
                <th>Goals D</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for each_standing in standings %}
            <tr>
                <td>{{each_standing.place}}</td>
                <td>{{each_standing.team}}</td>
                <td>{{each_standing.gp}}</td>
                <td>{{each_standing.wins}}</td>
                <td>{{each_standing.draws}}</td>
                <td>{{each_standing.losses}}</td>
                <td>{{each_standing.goals_f}}</td>
                <td>{{each_standing.goals_a}}</td>
                <td>{{each_standing.goals_d}}</td>
                <td>{{each_standing.points}}</td>
            </tr>
            {% endfor %}
    </table>
</section>

{% endblock content %}