{% extends 'base.html' %} {% block content %}
<!-- PAGE TITLE -->
<div class="page-title">Our Team</div>
<!-- FEATURED IMAGE -->
<div class="page-img">
    <img src="/static/images/photos/featured.jpg" alt="" />
</div>
<!-- PAGE CONTAINER -->
<section class="pagecontainer using-grid">
    <div class="grid">
        <!-- GOOLKEEPERS -->
        <div class="unit one-quarter teamlist">
            <h3>Goolkeepers</h3>
            <ul>
                <li>
                    <a href="#shelby" class="popup-with-zoom-anim">Shelby Firmin</a>
                    <!-- POPUP BOX -->
                    <div id="shelby" class="teamlist-popup zoom-anim-dialog mfp-hide">
                        <img src="/static/images/photos/player.jpg" alt="" />
                        <h3>1 - Shelby Firmin</h3>
                        <p>Eram ex vidisse ita eiusmod quem legam expetendis nisi, ea elit ingeniis adipisicing, ita ingeniis reprehenderit, probant duis singulis, consequat id vidisse, ne elit domesticarum, quae sed pariatur. Duis de mentitum an amet, malis
                            ita occaecat est magna. Senserit fugiat o incurreret fidelissimae, si quid reprehenderit.</p>
                    </div>
                </li>
                <li>Albert Panfilo</li>
                <li>Sebastien Telesphore</li>
            </ul>
        </div>
        <!-- DEFENDERS -->
        <div class="unit one-quarter teamlist">
            <h3>Defenders</h3>
            <ul>
                <li>
                    <a href="#darell" class="popup-with-zoom-anim">Darell Teunis</a>
                    <!-- POPUP BOX -->
                    <div id="darell" class="teamlist-popup zoom-anim-dialog mfp-hide">
                        <img src="/static/images/photos/player.jpg" alt="" />
                        <h3>4 - Darell Teunis</h3>
                        <p>Eram ex vidisse ita eiusmod quem legam expetendis nisi, ea elit ingeniis adipisicing, ita ingeniis reprehenderit, probant duis singulis, consequat id vidisse, ne elit domesticarum, quae sed pariatur. Duis de mentitum an amet, malis
                            ita occaecat est magna. Senserit fugiat o incurreret fidelissimae, si quid reprehenderit.</p>
                    </div>
                </li>
                <li>Geoffrey Lonnie</li>
                <li>Otieno Martie</li>
                <li>Lincoln Garry</li>
                <li>Kevin Jakob</li>
                <li>Hein Bryce</li>
            </ul>
        </div>
        <!-- MIDFIELDERS -->
        <div class="unit one-quarter teamlist">
            <h3>Midfielders</h3>
            <ul>
                <li>Kolman Alden</li>
                <li>
                    <a href="#stephan" class="popup-with-zoom-anim">Stephan Michael</a>
                    <!-- POPUP BOX -->
                    <div id="stephan" class="teamlist-popup zoom-anim-dialog mfp-hide">
                        <img src="/static/images/photos/player.jpg" alt="" />
                        <h3>7 - Stephan Michael</h3>
                        <p>Eram ex vidisse ita eiusmod quem legam expetendis nisi, ea elit ingeniis adipisicing, ita ingeniis reprehenderit, probant duis singulis, consequat id vidisse, ne elit domesticarum, quae sed pariatur. Duis de mentitum an amet, malis
                            ita occaecat est magna. Senserit fugiat o incurreret fidelissimae, si quid reprehenderit.</p>
                    </div>
                </li>
                <li>Arthur Max</li>
                <li>Tillo Denis</li>
                <li>
                    <a href="#plinio" class="popup-with-zoom-anim">Plinio Angelino</a>
                    <!-- POPUP BOX -->
                    <div id="plinio" class="teamlist-popup zoom-anim-dialog mfp-hide">
                        <img src="/static/images/photos/player.jpg" alt="" />
                        <h3>7 - Plinio Angelino</h3>
                        <p>Eram ex vidisse ita eiusmod quem legam expetendis nisi, ea elit ingeniis adipisicing, ita ingeniis reprehenderit, probant duis singulis, consequat id vidisse, ne elit domesticarum, quae sed pariatur. Duis de mentitum an amet, malis
                            ita occaecat est magna. Senserit fugiat o incurreret fidelissimae, si quid reprehenderit.</p>
                    </div>
                </li>
                <li>Armando Ed</li>
                <li>Timotheus Pancrazio</li>
                <li>Edgar Spike</li>
            </ul>
        </div>
        <!-- STRIKERS -->
        <div class="unit one-quarter teamlist">
            <h3>Strikers</h3>
            <ul>
                <li>
                    <a href="#anselmo" class="popup-with-zoom-anim">Anselmo Osvaldo</a>
                    <!-- POPUP BOX -->
                    <div id="anselmo" class="teamlist-popup zoom-anim-dialog mfp-hide">
                        <img src="/static/images/photos/player.jpg" alt="" />
                        <h3>9 - Anselmo Osvaldo</h3>
                        <p>Eram ex vidisse ita eiusmod quem legam expetendis nisi, ea elit ingeniis adipisicing, ita ingeniis reprehenderit, probant duis singulis, consequat id vidisse, ne elit domesticarum, quae sed pariatur. Duis de mentitum an amet, malis
                            ita occaecat est magna. Senserit fugiat o incurreret fidelissimae, si quid reprehenderit.</p>
                    </div>
                </li>
                <li>Abe Gerolt</li>
                <li>
                    <a href="#darrel" class="popup-with-zoom-anim">Darrel Lelio</a>
                    <!-- POPUP BOX -->
                    <div id="darrel" class="teamlist-popup zoom-anim-dialog mfp-hide">
                        <img src="/static/images/photos/player.jpg" alt="" />
                        <h3>11 - Darrel Lelio</h3>
                        <p>Eram ex vidisse ita eiusmod quem legam expetendis nisi, ea elit ingeniis adipisicing, ita ingeniis reprehenderit, probant duis singulis, consequat id vidisse, ne elit domesticarum, quae sed pariatur. Duis de mentitum an amet, malis
                            ita occaecat est magna. Senserit fugiat o incurreret fidelissimae, si quid reprehenderit.</p>
                    </div>
                </li>
                <li>Buster Clarence</li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}