{% extends 'base.html' %} {% block content %}
<!-- PAGE TITLE -->
<div class="page-title">Teams and Players</div>
<!-- FEATURED IMAGE -->
<div class="page-img">
    <img src="/static/images/photos/featured.jpg" alt="" />
</div>
<!-- PAGE CONTAINER -->
<section class="pagecontainer using-grid">

    {% for bucket in buckets %}
    <div class="grid">
        {% for team in bucket %}
        <div class="unit one-quarter teamlist">
            <h3>{{ team.name }}</h3>
            <ul>
                {% for player in team.player_set.all %}
                <li>
                    {% if player.photo %}
                    <a href="#shelby" class="popup-with-zoom-anim">{{player.name}}</a>
                    <div id="shelby" class="teamlist-popup zoom-anim-dialog mfp-hide">
                        <img src="{{player.photo.url}}" alt="" />
                        <h3>{{player.name}}</h3>
                        <!--<p>Eram ex vidisse ita eiusmod quem legam expetendis nisi, ea elit ingeniis adipisicing, ita ingeniis reprehenderit, probant duis singulis, consequat id vidisse, ne elit domesticarum, quae sed pariatur. Duis de mentitum an amet, malis
                            ita occaecat est magna. Senserit fugiat o incurreret fidelissimae, si quid reprehenderit.</p>-->
                    </div>
                    {% else %} {{player.name}} {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
{% endblock content %}